@font-face {
    font-family: Branda;
    src: url('assets/Branda-yolq.woff'), url('assets/Branda-yolq.woff2') ;
}

:root{
    font-family:-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

body{
    background-color: bisque;
}

li{
    list-style: none;
    margin: 8px;
}

ul{
    gap:10px;
}

h1{
    font-family: Branda;
}



.name{
    font-weight: 900;
}

.price{
    font-size: large;
    font-weight: 700;
}
.price::before{
    content:"$ ";
    color:red
}